
lib/hapmap3/*
lib/KDE_data/*
lib/1KG/*
testing/*
__pycache__/
output/*/
input/*/
example_data/

# vscode specific folders
.vscode/

# mac specific folders
__MACOSX/

# test output folders
*test_output*/
docker_testing/*

# test files 
test.py 
testing.ipynb

# Singularity test images
*.sif
